openapi: 3.0.2
info:
  title: DriveWealth Accounts Advisor Reports API
  version: '1.0'
servers:
- url: https://bo-api.drivewealth.io/back-office
  description: Sandbox server (Uses test data)
- url: https://bo-api.drivewealth.net/back-office
  description: Production Server (Uses LIVE data)
tags:
- name: Advisor Reports
  x-displayName: Advisor Reports
paths:
  /users/{userID}/managed/orders/summary:
    get:
      tags:
      - Advisor Reports
      summary: List Orders by Advisor
      description: Fetches a User's sub account orders allocations summary by date.
      parameters:
      - in: path
        name: userID
        schema:
          $ref: '#/components/schemas/userID'
        required: true
        example: cc07f91b-7ee1-4868-b8fc-823c70a1b932
        description: The User's unique identifier.
      - in: query
        name: date
        schema:
          type: string
        required: false
        example: '2022-12-25'
        description: The specific request date in format YYYY-MM-DD.
      responses:
        '200':
          description: Fetching A User's Sub Account Orders Allocations Summary By Date was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAllocationSummary'
      security:
      - bearerAuth: []
        dwAppKey: []
      - sessionToken: []
        dwAppKey: []
  /users/{userID}/managed/orders:
    get:
      tags:
      - Advisor Reports
      summary: List Allocations by Advisor
      description: Fetches a user's sub account orders allocations by userID
      parameters:
      - in: path
        name: userID
        schema:
          $ref: '#/components/schemas/userID'
        required: true
        example: cc07f91b-7ee1-4868-b8fc-823c70a1b932
        description: The User's unique identifier.
      - in: query
        name: from
        schema:
          type: string
        required: true
        example: '2022-12-08T18:36:40.609Z'
        description: The date and time in which to start from.
      - in: query
        name: to
        schema:
          type: string
        required: true
        example: '2022-12-25T18:36:40.609Z'
        description: The date and time in which to end at.
      responses:
        '200':
          description: Fetching A user's Sub Account Orders Allocations By userID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersAllocationsByUserID'
      security:
      - bearerAuth: []
        dwAppKey: []
      - sessionToken: []
        dwAppKey: []
  /users/{userID}/managed/bod:
    get:
      tags:
      - Advisor Reports
      summary: Retrieve Beginning Of Day (BOD) by Advisor
      description: Fetches a list of sub accounts beginning of day holdings by userID
      parameters:
      - in: path
        name: userID
        schema:
          $ref: '#/components/schemas/userID'
        required: true
        example: cc07f91b-7ee1-4868-b8fc-823c70a1b932
        description: The User's unique identifier.
      responses:
        '200':
          description: Fetching A List Of Sub Accounts Beginning Of Day Holding By userID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/beginningOfDay'
      security:
      - bearerAuth: []
        dwAppKey: []
      - sessionToken: []
        dwAppKey: []
components:
  schemas:
    OrderAllocations:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/allocationID'
        url:
          $ref: '#/components/schemas/allocationUrl'
        created:
          type: string
          example: '2022-12-22T16:04:46.724Z'
          description: The date and time of the allocation creation.
        status:
          $ref: '#/components/schemas/allocationStatus'
        allocationsRequested:
          $ref: '#/components/schemas/allocationsRequested'
        allocationsCompleted:
          $ref: '#/components/schemas/allocationsCompleted'
        unallocatedQuantity:
          $ref: '#/components/schemas/unallocatedQuantity'
        unallocatedNotional:
          $ref: '#/components/schemas/unallocatedNotional'
        comment:
          type: string
          example: All allocated and accounted for. 1::1::0 client note[empty], . timeMs=667 ratePerSec=1.50 msPerItem=667.00
          description: A custom comment generated by DriveWealth.
    unallocatedNotional:
      type: number
      example: 5320
      description: The notional value of the shares that have not been allocated to sub accounts.
    allocationStatus:
      type: string
      example: NEW
      description: The current status of the lot of allocation.
      enum:
      - NEW
      - ACCEPTED
      - PART_COMPLETE
      - COMPLETED
      - REJECTED
    orderTypes:
      type: string
      example: MARKET
      description: The type of the Order.
      enum:
      - MARKET
      - LIMIT
      - STOP
      - STOP_LIMIT
      - MARKET_IF_TOUCHED
    orderStatus:
      type: string
      example: FILLED
      description: The current status of the order.
      enum:
      - NEW
      - FILLED
      - PARTIAL_FILL
      - PENDING_CANCEL
      - CANCELED
      - REJECTED
    allocationsRequested:
      type: number
      example: 500
      description: The amount of sub account allocations passed to the system.
      minimum: 1
      maximum: 10000
    userID:
      type: string
      example: cc07f91b-7ee1-4868-b8fc-823c70a1b932
      description: A unique identifier created for each User on DriveWealth's platform.
    allocationID:
      type: string
      example: JF.allocation.TendiesTradingCo.e61f512a-ed9c-4047-9ccf-224a5864158d
      description: The unique identifier that identifies the lot of the allocation.
    unallocatedQuantity:
      type: number
      example: 302
      description: The remaining amount of shares that have not been allocated to the sub accounts.
    sideAbbreviated:
      type: string
      example: B
      description: The side of the order.
      enum:
      - B
      - S
      - BUY_OPEN
      - BUY_CLOSE
      - SELL_OPEN
      - SELL_CLOSE
    ListOrdersAllocationsByUserID.Orders:
      type: object
      properties:
        riaID:
          $ref: '#/components/schemas/userID'
        orderID:
          $ref: '#/components/schemas/orderID'
        orderNo:
          $ref: '#/components/schemas/orderNo'
        orderType:
          $ref: '#/components/schemas/orderTypes'
        createdWhen:
          type: string
          example: '2022-12-11T22:28:21.810Z'
          description: The createdWhen is the date and time the order was created.
        instrumentID:
          $ref: '#/components/schemas/instrumentID'
        symbol:
          $ref: '#/components/schemas/instrumentSymbol'
        side:
          $ref: '#/components/schemas/sideAbbreviated'
        orderQty:
          $ref: '#/components/schemas/orderQuantity'
        cumQty:
          $ref: '#/components/schemas/orderCumulativeQuantity'
        avgPx:
          $ref: '#/components/schemas/orderAveragePrice'
        allocations:
          type: array
          description: A list of a User's sub account allocations.
          items:
            oneOf:
            - $ref: '#/components/schemas/ListOrdersAllocationsByUserID.Orders.Allocation'
    OrdersAllocationsSummary:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/orderID'
        orderNo:
          $ref: '#/components/schemas/orderNo'
        type:
          $ref: '#/components/schemas/orderTypes'
        status:
          $ref: '#/components/schemas/orderStatus'
        created:
          type: string
          example: '2022-12-11T22:28:21.810Z'
          description: The date and time the order was created.
        instrument:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/instrumentID'
            symbol:
              $ref: '#/components/schemas/instrumentSymbol'
        side:
          $ref: '#/components/schemas/sideAbbreviated'
        averagePrice:
          $ref: '#/components/schemas/orderAveragePrice'
        orderQuantity:
          $ref: '#/components/schemas/orderQuantity'
        cumulativeQuantity:
          $ref: '#/components/schemas/orderCumulativeQuantity'
        allocatedQuantity:
          $ref: '#/components/schemas/allocatedQuantity'
        unallocatedQuantity:
          $ref: '#/components/schemas/unallocatedQuantity'
        unallocatedNotional:
          $ref: '#/components/schemas/unallocatedNotional'
        allocations:
          type: array
          description: A list of sub account allocations.
          items:
            oneOf:
            - $ref: '#/components/schemas/OrderAllocations'
    orderAveragePrice:
      type: number
      example: 1038.81
      description: The average price of the security being transacted in the order.
    orderID:
      type: string
      example: IC.0e352bb7-9869-4233-9861-9673544efedd
      description: A unique DriveWealth order identifier created when an order is placed.
    OrdersAllocationSummary:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/allocationID'
        accountNo:
          $ref: '#/components/schemas/accountNo'
        date:
          type: string
          example: '2022-12-25'
          description: The specific date requested in the inbound API request.
        orders:
          type: array
          description: A list of order and allocations.
          items:
            oneOf:
            - $ref: '#/components/schemas/OrdersAllocationsSummary'
    orderCumulativeQuantity:
      type: number
      example: 0.7219
      description: The amount of shares currently being transacted; larger orders may execute in chunks.
    orderNo:
      type: string
      example: ICDU023727
      description: A unique, human-readable DriveWealth order number.
    orderQuantity:
      type: number
      example: 0.7219
      description: The amount of the instrument in shares.
    allocationsCompleted:
      type: number
      example: 25
      description: The amount of completed sub account allocations.
      minimum: 1
      maximum: 10000
    instrumentSymbol:
      type: string
      nullable: true
      example: MS
      description: The ticker symbol of the Instrument. Debt Instruments and Global Mutual Funds do not have symbols and are referred to buy their `instrumentID` or `ISIN`.
    accountNo:
      type: string
      example: DWBG000052
      description: The user's unique account number, that is human readable.
    allocationUrl:
      type: string
      example: /back-office/managed/allocations/JF.TENDIESTRADINGCO_20221225_120000_MOD_AUTO_LIQUIDATE
      description: A specific URL that contains the full break down of the allocation.
    instrumentID:
      type: string
      format: uuid
      example: 3fb1e8a9-f7d5-4d90-95e2-43e7326b5636
      description: 'A unique ID created by DriveWealth to identify a specific instrument. '
    beginningOfDay:
      type: object
      properties:
        url:
          type: string
          example: '''https://dtygu59lw0as9.cloudfront.net/_bod...'
          format: url
          description: The url to the beginning of day json file.
    ListOrdersAllocationsByUserID.Orders.Allocation:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/allocationID'
        status:
          $ref: '#/components/schemas/allocationStatus'
        unallocatedNotional:
          $ref: '#/components/schemas/unallocatedNotional'
        unallocatedQuantity:
          $ref: '#/components/schemas/unallocatedQuantity'
    allocatedQuantity:
      type: number
      example: 0.7219
      description: The amount of allocated shares.
    ListOrdersAllocationsByUserID:
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/ListOrdersAllocationsByUserID.Orders'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    dwAppKey:
      type: apiKey
      in: header
      name: dw-client-app-key
    sessionToken:
      type: apiKey
      in: header
      name: dw-auth-token
